# This is a basic workflow to help you get started with Actions

name: My-GitHubActions-Basics

# Controls when the workflow will run
on: 
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  my_testing:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello Message in testing
        run: echo "Hello World Testing job"
        
  my_deploy:
    runs-on: ubuntu-latest
    needs: [my_testing]
    
    steps:
      - name: Print Hello Message in deploy
        run: echo "Hello World from Deploy job"
