# This is a basic workflow to help you get started with Actions

name: My-GitHubActions-Basics
env:
  APPLICATION_NAME: "MyFlask"
  DEPLOY_PACKAGE_NAME: "flask_deploy_version_${{ github.sha }}"

# Controls when the workflow will run
on: 
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  my_testing:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello Message in testing
        run: echo "Hello World Testing job"
      - name: Execute few commands
        run: |
          echo "Hello Message1"
          echo "Application name ${{ env.APPLICATION_NAME }}"
      - name: List current folder
        run: ls -la
        
      - name: Git clone my repo
        uses: actions/checkout@v1
        
      - name: List current folder
        run: ls -la
        
        
  my_deploy:
    runs-on: ubuntu-latest
    needs: [my_testing]
    
    steps:
      - name: Print Hello Message in deploy
        run: echo "Hello World from Deploy job"
      - name: Deployment package
        run: echo "Deploying package name ${{ env.DEPLOY_PACKAGE_NAME }}"
      - name: Lets test some packages 1
        run: aws --version
      - name: Lets test some packages 2
        run: zip
